
<!--<div class="list-group">-->

<!--    {{#course_files}}-->
<!--        <a href="/report/customreports/course_files.php"-->
<!--           class="list-group-item list-group-item-action">Files in a course<br>-->
<!--            <div class="a">Display the files uploaded within a course</div>-->
<!--        </a>-->
<!--    {{/course_files}}-->





<!--</div>-->


<div class="plugin-content">


    <div class="col-md-12">
        <div class="flex-panel-group">

{{#login_info}}
                <div class="pantheon-workflows flex-panel-item-platform-integrations">
                    <div class="flex-panel-body-home">
                        <a href='/report/customreports/login_info.php'>
                            <div class="flex-panel-main-body-inner"><!--<img src="/blocks/booking/pix/history.png"  width="64" height="64" class="img-responsive atto_image_button_text-bottom">-->
                                <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                                <h3 class="hero-video__guide-main-topic-title">{{#str}}login_info_title,report_customreports{{/str}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
{{/login_info}}




<!--            {{#centerlink}}-->
<!--                <div class="pantheon-workflows flex-panel-item-platform-integrations">-->
<!--                    <div class="flex-panel-body-home">-->
<!--                        <a href='{{centerlink}}'>-->
<!--                            <div class="flex-panel-main-body-inner"><img src="/blocks/booking/pix/center.png"  width="64" height="64" class="img-responsive atto_image_button_text-bottom">-->
<!--                                <h3 class="hero-video__guide-main-topic-title">{{#str}}center,block_booking{{/str}}</h3>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            {{/centerlink}}-->
        </div>
    </div>



</div>
