
table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #B0BED9
}

table.dataTable.stripe tbody > tr.odd.selected, table.dataTable.stripe tbody > tr.odd > .selected, table.dataTable.display tbody > tr.odd.selected, table.dataTable.display tbody > tr.odd > .selected {
    background-color: #acbad4
}

table.dataTable.hover tbody > tr.selected:hover, table.dataTable.hover tbody > tr > .selected:hover, table.dataTable.display tbody > tr.selected:hover, table.dataTable.display tbody > tr > .selected:hover {
    background-color: #aab7d1
}

table.dataTable.order-column tbody > tr.selected > .sorting_1, table.dataTable.order-column tbody > tr.selected > .sorting_2, table.dataTable.order-column tbody > tr.selected > .sorting_3, table.dataTable.order-column tbody > tr > .selected, table.dataTable.display tbody > tr.selected > .sorting_1, table.dataTable.display tbody > tr.selected > .sorting_2, table.dataTable.display tbody > tr.selected > .sorting_3, table.dataTable.display tbody > tr > .selected {
    background-color: #acbad5
}

table.dataTable.display tbody > tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1 {
    background-color: #a6b4cd
}

table.dataTable.display tbody > tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_2 {
    background-color: #a8b5cf
}

table.dataTable.display tbody > tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_3 {
    background-color: #a9b7d1
}

table.dataTable.display tbody > tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_1 {
    background-color: #acbad5
}

table.dataTable.display tbody > tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_2 {
    background-color: #aebcd6
}

table.dataTable.display tbody > tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_3 {
    background-color: #afbdd8
}

table.dataTable.display tbody > tr.odd > .selected, table.dataTable.order-column.stripe tbody > tr.odd > .selected {
    background-color: #a6b4cd
}

table.dataTable.display tbody > tr.even > .selected, table.dataTable.order-column.stripe tbody > tr.even > .selected {
    background-color: #acbad5
}

table.dataTable.display tbody > tr.selected:hover > .sorting_1, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_1 {
    background-color: #a2aec7
}

table.dataTable.display tbody > tr.selected:hover > .sorting_2, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_2 {
    background-color: #a3b0c9
}

table.dataTable.display tbody > tr.selected:hover > .sorting_3, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_3 {
    background-color: #a5b2cb
}

table.dataTable.display tbody > tr:hover > .selected, table.dataTable.display tbody > tr > .selected:hover, table.dataTable.order-column.hover tbody > tr:hover > .selected, table.dataTable.order-column.hover tbody > tr > .selected:hover {
    background-color: #a2aec7
}

table.dataTable td.select-checkbox, table.dataTable th.select-checkbox {
    position: relative
}

table.dataTable td.select-checkbox:before, table.dataTable td.select-checkbox:after, table.dataTable th.select-checkbox:before, table.dataTable th.select-checkbox:after {
    display: block;
    position: absolute;
    top: 1.2em;
    left: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box
}

table.dataTable td.select-checkbox:before, table.dataTable th.select-checkbox:before {
    content: ' ';
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid black;
    border-radius: 3px
}

table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    content: '\2714';
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9
}

div.dataTables_wrapper span.select-info, div.dataTables_wrapper span.select-item {
    margin-left: 0.5em
}

@media screen and (max-width: 640px) {
    div.dataTables_wrapper span.select-info, div.dataTables_wrapper span.select-item {
        margin-left: 0;
        display: block
    }
}


td.details-control {
    background: url('../pix/plus.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../pix/plus.png') no-repeat center center;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}

.buttons {
    position: relative;
}

.choice {
    display: none;
    position: absolute;
    border: 1px;
    padding: 3px;
    left: -65px;
    top: -7px;
    border-radius: 10px;
    background: #cdebf0;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.datatable {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin: 1%;
    padding: 1%;

}

.panel {
    text-align: center;
    background: #09619e;
    padding: 5px;
    margin: 0px 15px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.btn_view {
    background: #FCAF17;
    border-radius: 5px;
    margin: 5px 1%;
    color: black;

}


#page-local-customreports-satisfaction_rate .dropdown-item.active, .dropdown-item:active {
    background-color: #fff;
}

#cnu_save {
    background: #81c33d;
    border-radius: 5px;
    margin: 3px 4%;
    color: black;

}

#cnu_finalize {
    background: #BC3736;
    border-radius: 5px;
    margin: 3px 4%;
    color: white;

}

#am_nominate {
    background: #09619e;
    border-radius: 5px;
    margin: 3px 4%;
    color: white;

}

table thead {
    background: #29a7be3b;
}

table tbody .odd:hover {
    background: #d8d8d8;
}

table tbody .even:hover {
    background: #d8d8d8;
}

#page-local-customreports-satisfaction_rate table thead {
    background: #09619e;
    color: white;
}

#page-local-customreports-satisfaction_rate table tfoot {
    background: #09619e;
    color: white;
}

.btn-group {
    margin: 10px;
}

.btn-group button {
    border-radius: 5px;
}

.inner thead input {
    width: 100% !important;
    max-width: 100% !important;
}

.inner thead tr th {
    background: #29a7be3b !important;
}

.inner tbody .odd:hover {
    background: #d8d8d8;
}

.inner tbody .even:hover {
    background: #d8d8d8;
}

#page-local-customreports-satisfaction_rate button {
    cursor: pointer;
}


#page-local-customreports-satisfaction_rate .width-100 {
    width: 100px;
}

/*destroys the platform search*/
.reporttable input {
    text-align: center;
    border-radius: 5px;
    width: 100%;
    max-width: 80%;
}

table {
    text-align: center;
}

#page-local-customreports-satisfaction_rate .dataTables_filter input {
    width: 100%;
    max-width: 100%;
}

table.dataTable th, table.dataTable td {
    box-sizing: border-box !important;
}

th.sorting_disabled {
    min-width: inherit !important;
    width: inherit !important;
}


.index_table td {
    box-shadow: black 0.5px 0.5px 5.5px -0.8px;
    padding: 9px;
    border-radius: 5px;
}

#page-local-customreports-index .list-group a {
    font-weight: bold;
    font-size: 25px;
    border: 2px solid #02457a;
    border-radius: 16px;
    margin: 1%;
}

div.a {
    font-size: 18px;
}

#page-content {
    margin-top: 0 !important;
}

table thead {
    background: #02457a;
    color: white;
}

#page-local-customreports-courses_types .submitdates {
    border-radius: 5px;
}

.dates input {
    text-align: center;
    border-radius: 5px;
}

.dataTables_wrapper .dt-button-collection a {
    background: white;
    color: black;
}